<server description="Sample Liberty server">
    <featureManager>
        <feature>webProfile-8.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="8080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <applicationMonitor updateTrigger="mbean"/>

    <webApplication location="StoneOverflow.war" contextRoot="/" />

    <httpEndpoint host="*" httpPort="${default.http.port}"
                  httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <dataSource id="mySQL" jndiName="jdbc/StoneOverflowDS" type="javax.sql.DataSource">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties databaseName="${DB_DATABASE}" serverName="${DB_HOST}" portNumber="${DB_PORT}"
            user="${DB_USER}" password="${DB_PASSWORD}"/>
    </dataSource>

    <library id="MySQLLib">
        <fileset dir="${server.config.dir}" includes="*.jar"/>
    </library>
</server>
