.question:last-child, .answer:last-child {
    border: none;
}

.userMessageClass:last-child {
    margin-bottom: 0;
}

.userRow:nth-child(2n-1) {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
}
